
## <summary>policy for monetaryunit</summary>


########################################
## <summary>
##	Transition to monetaryunit.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`monetaryunit_domtrans',`
	gen_require(`
		type monetaryunit_t, monetaryunit_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, monetaryunit_exec_t, monetaryunit_t)
')


########################################
## <summary>
##	Execute monetaryunit server in the monetaryunit domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`monetaryunit_initrc_domtrans',`
	gen_require(`
		type monetaryunit_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, monetaryunit_initrc_exec_t)
')


########################################
## <summary>
##	Search monetaryunit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`monetaryunit_search_lib',`
	gen_require(`
		type monetaryunit_var_lib_t;
	')

	allow $1 monetaryunit_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read monetaryunit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`monetaryunit_read_lib_files',`
	gen_require(`
		type monetaryunit_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, monetaryunit_var_lib_t, monetaryunit_var_lib_t)
')

########################################
## <summary>
##	Manage monetaryunit lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`monetaryunit_manage_lib_files',`
	gen_require(`
		type monetaryunit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, monetaryunit_var_lib_t, monetaryunit_var_lib_t)
')

########################################
## <summary>
##	Manage monetaryunit lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`monetaryunit_manage_lib_dirs',`
	gen_require(`
		type monetaryunit_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, monetaryunit_var_lib_t, monetaryunit_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an monetaryunit environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`monetaryunit_admin',`
	gen_require(`
		type monetaryunit_t;
		type monetaryunit_initrc_exec_t;
		type monetaryunit_var_lib_t;
	')

	allow $1 monetaryunit_t:process { ptrace signal_perms };
	ps_process_pattern($1, monetaryunit_t)

	monetaryunit_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 monetaryunit_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, monetaryunit_var_lib_t)

')

